# Next.js build output
.next
out

# Node.js modules
node_modules
mint-storefront/node_modules

# Environment variables
.env
.env.local

# Editor files and directories
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
